body {
	margin: 1;
	font-family: sans-sarif;
}

.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}

.game-window {
	font-family: Courier New, monospace;
	font-size:  17px;
	border: solid;
	overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.error-message {
	color: red;
	font-style: italics;
	font-size: 15px;
}
