body {
	margin: 0;
	width: 98%;
	font-family: sans-sarif;
	background-color: #f9f9eb;
}

.title {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px
}

.menu {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px
}

.interface-window {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

.game-window {
	width: 83%;
	height: 500px;
	font-family: Courier New, monospace;
	font-size:  17px;
	background-color: #f2f6e0;
	overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    white-space: pre-wrap;
    border: solid;
    border-style: inset;
    border-width: thick;
    border-color: #d9d2b6;
    float: left;
}

.status-window {
	width: 15%;
	height: 505px;
	font-family: Courier New, monospace;
	font-size: 17px;
	background-color: #f2f6e0;
	overflow: auto;
	display: flex;
	border: solid;
	border-style: groove;
	border-width: normal;
	border-color: #d9d2b6;
	float: right;
}

.command-line {
	width: 90%;
	margin-left: 10px;
	margin-right: 10px;
	align: left;
}

.command-line input {
	width: 94%;
	float: left;
}

#enter-button {
	width: 5%;
	float: right;
}
