{% extends 'base.html' %}

{% block head %}
<title>Dion</title>
{% endblock %}

{% block body %}

<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type=text/javascript>
		function submit() {
    		var myData = $('#command-line-form').serializeArray()
    		$.post("/receivedata", {"myData": myData})
		}
	</script>
	
</head>


<h1>Dion</h1>

<br>
<a href="new_character"><button>New Character</button></a>
<a href="load_character"><button>Load Character</button></a>
<a href="skills_modify"><button>Skills</button></a>
<br>
<br>

<div class="interface-window">

	<div class="game-window">

	{% for event in gameEvents %}

	{{ event }}<br>

	{% endfor %}

	</div>

	<div class="status-window">
	
	{% for para in statusData %}
	
	{{para}}<br>
	
	{% endfor %}
	
	</div>

</div>

<form id="command-line-form" class="command-line" action="/" method="POST" autocomplete="off">
	<input type="text" name="content" id="content" autofocus="autofocus" size="190">
	<input type="submit" value="Enter">
</form>


<p class='synopsis'>Copyright</p>


{% endblock %}