{% extends 'base.html' %}

{% block head %}
<title>Dion</title>
{% endblock %}

{% block body %}
	
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type=text/javascript>		
			$('#process_input').click(function()  {
				$.getJSON('/_background_process', {
					proglang: $('input[name="proglang"]').val(), 
				}, function(data)  {
					$("#result").text(data.result);
				});
				return false;
			});
		</script>
	</head>



<body class="body">

	<div>
	
		<h3>Which is the best programming language of them all?</h3>
		
		<form>
			<input type=text size=5 name=proglang>
			<a href='#' id=process_input><button class='btn btn-default'>Submit</button></a>
		</form>
	
		<p id=result>...</p>
	</div>


</body>


{% endblock %}