{% extends 'base.html' %}

{% block head %}
<title>Dion - Skills</title>
{% endblock %}

{% block body %}
<h1>Skills</h1>


<label for="phyiscal_training_points">Physical Training Points</label>

<label for="mental_training_points">Mental Training Points</label>

<br>

{% for category in skillCategories %}
<label for="{{category}}"><strong>{{category}}</strong></label>
<br>
{% for skill in skills[category] %}
<label for="{{skill}}">{{skill}}</label>
<button>+</button>
<label for="number">1</label>
<button>-</button>
<br>
{% endfor %}
<br>
{% endfor %}
<br>

<input type="submit" value="Enter">



{% endblock %}